/* google font */
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Poppins:wght@200;300;400;500;700&display=swap');

/* global css */
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --main   : #DA1E37;
    --black  : #131313;
    --white  : #FFFFFF;
    --aller  : 'Allerta', sans-serif;
    --poppins: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* top-section */

.top-section {
    background-image : url('../img/top-section.png');
    background-size  : cover;
    background-repeat: no-repeat;
    width            : 100%;
    height           : 500px;
    padding          : 0 100px;
}

nav>.top-nav {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

nav>.top-nav>.logo>img {
    width     : 160px;
    margin    : auto;
    margin-top: 15px;
}


nav>.top-nav>.menu>ul {
    display : flex;
    position: relative;
}

nav>.top-nav>.menu>ul>li {
    padding    : 10px 9px;
    font-family: var(--aller);
    font-size  : 14px;
}

nav>.top-nav>.menu>ul>li:last-child a {
    background   : var(--white);
    border-radius: 4px;
    color        : var(--main) !important;
    padding      : 7px 9px;
}


nav>.top-nav>.menu>ul>li>a {
    color: var(--white);
}

nav>.top-nav>.menu>ul>li img {
    margin-bottom: 2px;
}

nav>.top-nav>.menu>ul>li ul {
    position  : absolute;
    top       : 30px;
    color     : var(--white);
    opacity   : 0;
    transition: all 0.5s;
    cursor    : pointer;
}

nav>.top-nav>.menu>ul>li:hover ul {
    top    : 35px;
    opacity: 1;
}

/* main */

.top-contant {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

}

.left-containt {
    width: 70%;
}

.top-contant>.left-containt h1 {
    font-family   : var(--aller);
    font-size     : 30px;
    text-transform: uppercase;
    color         : var(--white);
    font-weight   : bold;
    padding-right : 85px;
}


.search {
    width      : 420px;
    position   : relative;
    margin-top : 30px;
    display    : flex;
    align-items: center;
}

.search>input {
    width        : 100%;
    outline      : none;
    padding      : 13px;
    font-size    : 10px;
    border-radius: 10px;
    font-family  : var(--poppins);
    border       : none;
}

.search>img {
    position: absolute;
    right   : 12px;
    cursor  : pointer;
}

.left-b {
    width      : 425px;
    display    : flex;
    align-items: center;
    margin     : 14px 0px;
}

.left-b>p {
    font-family: var(--poppins);
    color      : var(--white);
    font-size  : 15px;
}

.left-b>ul {
    display    : flex;
    margin-left: 8px;
    font-family: var(--poppins);
}

.left-b>ul>li {
    margin       : 0 5px;
    padding      : 3px 12px;
    border       : 1px solid var(--white);
    border-radius: 7px;
    font-size    : 12px;
    color        : var(--white);
    cursor       : pointer;
}

.top-contant>.right-containt {
    position: relative;
}

.top-contant>.right-containt>.animeted_r>img {
    position: absolute;
}

.top-contant>.right-containt>.r_pic_m {
    width     : 229px;
    margin-top: 51.5px;
}

.top-contant>.right-containt>.r_pic_m>img {
    width      : 100%;
    height     : 100%;
    margin-left: -90px;
}

.top-contant>.right-containt>.animeted_r>.rigt2 {
    top     : 317px;
    right   : -23px;
    width   : 189px;
    position: absolute;
}

.top-contant>.right-containt>.animeted_r>.rigt2 img {
    width: 100%;
}

.top-contant>.right-containt>.animeted_r>img.animation1.one {
    top  : 124px;
    right: 280px;
    width: 80px;
}

.top-contant>.right-containt>.animeted_r>img.animation1.onep {
    top  : 143px;
    right: 311px;
    width: 28px;
}

.top-contant>.right-containt>.animeted_r>img.four {
    top  : 77px;
    width: 34px;
    right: 82px;
}

.top-contant>.right-containt>.animeted_r>img.five {
    top  : 164px;
    width: 41px;
    right: 74px;
}

.top-contant>.right-containt>.animeted_r>img.two {
    top  : 301px;
    width: 41px;
    left : -74px;
}

.top-contant>.right-containt>.animeted_r>img.three {
    top  : 361px;
    width: 44px;
    left : -188px;
}

.top-contant>.right-containt>.animeted_r>.rigt1 {
    top     : 317px;
    right   : 240px;
    width   : 160px;
    position: absolute;
}

.top-contant>.right-containt>.animeted_r>.rigt1 img {
    width: 100%;
}

.top-contant>.right-containt>.animeted_r>.rigt1 p {
    color      : #707070;
    top        : 56px;
    right      : 133px;
    font-family: var(--poppins);
    margin-top : -49px;
    font-size  : 11px;
    margin-left: 20px;
}

/* top animation */

.animation {
    animation          : swing3 2s infinite;
    animation-direction: alternate;
}

@keyframes swing3 {
    0% {
        transform: skewX(20deg);
    }

    100% {
        transform: skewX(-20deg);
    }
}

.animation1 {
    animation          : swing1 4s infinite;
    animation-direction: alternate;
}

@keyframes swing1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(20px, 5px);
    }
}

.animation2 {
    animation          : swing 6s infinite;
    animation-direction: alternate;
}

@keyframes swing {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(15px, 10px);
    }
}

.r_pic_m,
.rigt2 {
    animation          : slid 7s ease-in-out infinite;
    animation-direction: alternate;

}

@keyframes slid {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(25px, 0px);
    }
}

/* service */
.service {
    padding: 0px 90px;
    margin : 95px 0;
}

.service h1 {
    font-family   : var(--aller);
    text-transform: uppercase;
    font-size     : 29px;
    margin-bottom : 15px;
    color         : var(--black);
}

.service>.service_ol .item {
    width   : 249px;
    height  : 296px;
    position: relative;
}

.service>.service_ol .item .text-con {
    position        : absolute;
    bottom          : 30px;
    left            : 20px;
    font-family     : var(--poppins);
    color           : var(--white);
    width           : 194px;
    height          : 250px;
    background-color: var(--black);
    border-radius   : 10px;
    opacity         : 0.6;
}

.service>.service_ol .item .text-con h3 {
    top      : 177px;
    position : absolute;
    left     : 7px;
    font-size: 13px;
}

.service>.service_ol .item .text-con p {
    top      : 200px;
    position : absolute;
    left     : 7px;
    font-size: 13px;
}

.service>.service_ol .item img {
    width     : 100%;
    height    : 100%;
    object-fit: contain;

}

.owl-dots {
    text-align: center;
    margin-top: -10px !important;
}

.owl-dot {
    height       : 10px !important;
    width        : 40px !important;
    border-radius: 25px !important;
    cursor       : pointer !important;
    outline      : none !important;
    margin       : 0 5px !important;
    border       : 2px solid var(--main) !important;
}

.owl-theme .owl-dots .owl-dot span {
    display: none;
}

.owl-dot:hover,
.owl-dot.active {
    background: var(--main) !important;
}

.details_ol .item .main_dt {
    width : 100%;
    height: auto;
}

.owl-theme .owl-nav [class*=owl-] {
    display: none;
}

.new_details {
    position: relative;
}

.text_dt {
    position: absolute;
    top     : 256px;
    right   : 165px;
}

.text_dt h1 {
    font-family   : var(--aller);
    text-transform: uppercase;
    color         : var(--main);
}

.text_dt button {
    background : #F8D2D7;
    border     : none;
    display    : flex;
    align-items: center;
    margin-top : 28px;
    cursor     : pointer;
    box-shadow : 3px 4px 13px 6px rgb(0 0 0 / 20%);
    padding    : 10px 16px;
}


.text_dt button img {
    width       : 30px !important;
    margin-right: 6px;
}

.ani_det {
    position: absolute;
}

.ani_det .dt-an-1 {
    width   : 60px;
    top     : -340px;
    left    : 509px;
    position: absolute;
}

.ani_det .dt-an-2 {
    width   : 60px;
    position: absolute;
    top     : -500px;
    left    : 329px;
}

.ani_det .dt-an-3 {
    width   : 60px;
    top     : -329px;
    position: absolute;
    left    : 72px;
}

.one_new_ser {
    padding: 0px 100px;
    margin : 100px 0;

}

.one_new_ser h1 {
    font-family   : var(--aller);
    color         : var(--black);
    text-transform: uppercase;
    margin-bottom : 10px;
}

.one_new_ser>.all_service {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
}

.one_new_ser>.all_service>.icon_s {
    width        : 125px;
    height       : 125px;
    margin       : 10px;
    text-align   : center;
    margin       : auto;
    object-fit   : contain;
    border       : 1px solid rgba(218, 30, 55, 0.21);
    border-radius: 24px;
    cursor       : pointer;
}

.one_new_ser>.all_service>.icon_s>img {
    object-fit: contain;
    width     : 100%;
    height    : 100%;
    padding   : 10px;

}

.one_new_ser>.all_service>.icon_s {
    width        : 180px;
    height       : 180px;
    margin       : 10px;
    text-align   : center;
    margin       : auto;
    object-fit   : contain;
    border       : 1px solid rgba(218, 30, 55, 0.21);
    border-radius: 24px;
    cursor       : pointer;
    padding-top  : 37px;
    margin-bottom: 22px;
    color        : #666666 !important;
}

.one_new_ser>.all_service>.icon_s:hover {
    color: var(--main) !important;
}

.icon_s i {
    font-size: 66px;
}

.icon_s p {
    font-size  : 20px;
    font-family: var(--poppins);
    margin-top : 10px;
}

.text_dat h1 {
    font-family   : var(--aller);
    text-transform: uppercase;
    color         : var(--main);
    position      : absolute;
    top           : 245px;
    left          : 50px;
    width         : 496px;
    color         : var(--white);
}

.text_dat button {
    background : var(--white);
    border     : none;
    display    : flex;
    align-items: center;
    margin-top : 28px;
    cursor     : pointer;
    box-shadow : 3px 4px 13px 6px rgb(0 0 0 / 20%);
    padding    : 10px 16px;
    position   : absolute;
    top        : 362px;
    left       : 55px;
}

.text_dat button img {
    width       : 30px !important;
    margin-right: 6px;
}

.ani_det {
    position: absolute;
}

.ani_det .dt-an-1 {
    width   : 60px;
    top     : -389px;
    left    : 509px;
    position: absolute;
}

.ani_det .dt-an-2 {
    width   : 60px;
    position: absolute;
    top     : -626px;
    left    : 422px;
}

.ani_det .dt-an-3 {
    width   : 60px;
    top     : -329px;
    position: absolute;
    left    : 72px;
}

.text_dat button i {
    margin-left  : 5px;
    margin-bottom: 3px;
    color        : #087E8B;
}

img.chat_list {
    position: absolute;
    top     : 402px;
    right   : 614px;
    width   : 183px;
}

.ani_dat .dt-an-1 {
    position: absolute;
    top     : 151px;
    left    : 624px;
}

.ani_dat .dt-an-2 {
    position: absolute;
    top     : 210px;
    right   : 140px;
}

.ani_dat .dt-an-3 {
    position: absolute;
    top     : 75px;
    right   : 453px;
}

.ani_dat .dt-an-4 {
    position: absolute;
    right   : 106px;
    bottom  : 202px;
}

img.p_details {
    position: absolute;
    top     : 384px;
    right   : 5px;
}


/* swiper */

.swiper {
    padding: 100px 100px;

}

.swiper-container {
    width         : 100%;
    padding-top   : 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size    : cover;
    width              : 500px;
    height             : 700px;
}

.swiper-slide img {
    display: block;
    width  : 100%;
}

.swiper h1 {
    text-transform: uppercase;
    font-family: var(--aller);
    color: var(--black);
    margin: auto;
    text-align: center;
    font-size: 31px;
    position: relative;
}

.swiper h1::after {
    content: "";
    width: 175px;
    height: 6px;
    background: var(--main);
    position: absolute;
    bottom: -12px;
    left: 529px;
    border-radius: 24px;
}